<!-- <div class="card-center">
    <div>
        <h3>Summary</h3>
    </div>

    <div class="summary-details">
        <table id="customers">
            <thead>
                <th>Name</th>
                <th>GEID</th>
                <th>Reimbursement For</th>
                <th>Another person name</th>
                <th>Another person GEID</th>
                <th>Category</th>
                <th>File name</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{data.name}}</td>
                    <td>{{data.GEID}}</td>
                    <td>{{data.reimbursementFor}}</td>
                    <td>{{data.anotherPersonName}}</td>
                    <td>{{data.anotherPersonGeid}}</td>
                    <td>{{data.category}}</td>
                    <td>{{data.file}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<div class="summary-details">
    <div> Name :  <span style="padding-left: 200px;"> {{data1.name}}</span></div>
    <div> GEID : <span style="padding-left: 200px;"> {{data1.GEID}}</span> </div>
    <div> Reimbursement For : <span style="padding-left: 200px;"> {{data1.reimbursementFor}}</span></div>
    <div> Another Person Name :<span style="padding-left: 200px;"> {{data1.anotherPersonName}}</span> </div>
    <div> Another Person Geid : <span style="padding-left: 200px;"> {{data1.anotherPersonGeid}}</span> </div>
    <div> Category : <span style="padding-left: 200px;"> {{data1.category}}</span> </div>
    <!-- <div> File : <span style="padding-left: 200px;"> {{fileName}}</span> </div> -->
</div>